<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <display-name>Banhoa</display-name>
    <!-- SERVLET MAPPING ĐÚNG URL -->
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryCountAPI</servlet-name>
        <servlet-class>controller.CategoryCountAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HonepageServlet</servlet-name>
        <servlet-class>controller.HonepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/product-list</url-pattern>
    </servlet-mapping>
    <!-- CÁC SERVLET KHÁC -->
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/view-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/remove-from-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VNPay_Payment</servlet-name>
        <servlet-class>controller.payment.VNPay_Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayReturn</servlet-name>
        <servlet-class>controller.payment.VNPayReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VNPay_Payment</servlet-name>
        <url-pattern>/VNPay_Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayReturn</servlet-name>
        <url-pattern>/VNPayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryCountAPI</servlet-name>
        <url-pattern>/CategoryCountAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HonepageServlet</servlet-name>
        <url-pattern>/HonepageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
</web-app>
